*
{
	font-size: 28px;
	background-color: black;
	display: block;
}
student
{
	margin-top: 20pt;
	margin-bottom: 20pt;
	margin-left: 20pt;	
}
usn
{
	color: yellow;
	font-size: 28pt;	
}
name
{
	color: green;
	font-size: 28pt;
}
college
{
	color: blue;
	margin-left: 20pt;
}
branch
{
	color: red;
	margin-left: 20pt;
}
yoj
{
	color: orange;
	margin-left: 20pt;
}
email
{
	color: violet;
	margin-left: 20pt;
}